*{
   margin:0;
   padding:0;
}

body{
   background: #f4f4f4 url("img/background.png") repeat top left;
   font:0.97em Tahoma, 'Trebuchet MS', sans-serif;
   cursor:default;
}

hr.separator{
   background-color: radial-gradient(ellipse,rgba(226,226,226,1),white);
   background: radial-gradient(ellipse,rgba(200,200,200,1),white);
   color: radial-gradient(ellipse,rgba(226,226,226,1),white);
   height:1px;
   border:0;
}

/*ЗАГОЛОВОК*/
#header {
	position: relative;
	height:110px;
   background-color: rgba(255, 178, 185, 0.92);
}

#header > ins{
	position: absolute;
	top:10px;
	right:7px;
}

/*СТРАНИЦА*/
#page {
   box-shadow:2px 2px 3px 0 #d0d0d0;
   -webkit-box-shadow:2px 2px 3px 0 #d0d0d0;
   -moz-box-shadow:2px 2px 3px 0 #d0d0d0;
   background-color:white;
   width:1150px;
   margin:0 auto;
}

div.content-block{
   margin:10px auto;
   /*box-shadow:0 0 10px black;*/
}

/*ЛЕВЫЙ БЛОК*/
#left {
   width:630px;
   float:left;
   overflow:hidden;
}



/*-------ВИДЕО------*/
div.video{
   background-color: black;
   border:1px solid black;
   padding-top:18px;
   padding-bottom: 15px;
   width:608px;
   margin-bottom:0;
   position: relative;
}

div#video_list{
   width:608px;
}

img#video_start{
   opacity:1;
   position: absolute;
   top:117px;
   left:241px;
   width:126px;
   transition-duration: .7s;
   -webkit-transition-duration: .7s;
   -moz-transition-duration: .7s;
   -o-transition-duration: .7s;
}

img#video_start:hover{
   transform: scale(1.04);
   -webkit-transform:scale(1.04);
   -moz-transform:scale(1.04);
   -o-transform: scale(1.04);
   -ms-transform:scale(1.04);
   transition-duration: .7s;
   -webkit-transition-duration: .7s;
   -moz-transition-duration: .7s;
   -o-transition-duration: .7s;
   cursor:pointer;
}

i#video_loading{
	cursor:pointer;
	position:absolute;
	top:143px;
   left:265px;
}

video{
   width:inherit;
}


/*-------ФРАЗА------*/
div.phrase{
   padding:0 5px 5px;
   width:600px;
   margin:5px auto;
   font:1.24em Tahoma, sans-serif;
   position: relative;
}

div#lines hr{
   border-width: 0;
   position: absolute;
   background: #ececec;
   height:3px;
}

div.phrase>p{
   cursor: default;
   padding:5px 7px 5px 0px;;
   font-style: italic;
   text-align: center;
   font-size: 1.1em;
}

div.phrase>p>img{
	width:137px;
	position:absolute;
	right:-19px;
	top:5px;
	height:25px;	
}

#phrase-cover{   
   text-align:justify;
}

#phrase-cover>span{
   cursor:default;
   line-height: 26px;
   color:#333;
   background-color: #e8e8e8;
   padding:0 24px 1px 15px;
   border-radius:10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   position: relative;
   margin:1px;
   display: inline-block;
}

#phrase-cover>span>img{
   position: absolute;
   right:4px;
   top:7px;
   opacity: 0;
   transition-duration: .5s;
   -webkit-transition-duration: .5s;
   -moz-transition-duration: .5s;
   -o-transition-duration: .5s;
}

#phrase-cover>span:hover >img{
   opacity:1;   
   transition-duration: .5s;
   -webkit-transition-duration: .5s;
   -moz-transition-duration: .5s;
   -o-transition-duration: .5s;
}

#phrase-cover>span>img:hover{
   cursor:pointer;
   transform:scale(1.1);
   -webkit-transform:scale(1.1);
   -moz-transform:scale(1.1);
   -o-transform: scale(1.1);
   -ms-transform:scale(1.1);
   transition-duration: .5s;
   -webkit-transition-duration: .5s;
   -moz-transition-duration: .5s;
   -o-transition-duration: .5s;
}

#phrase-cover>span.viewed{
   color:black;
   background-color: lightgreen; 
}

#phrase-cover>span.active{
   color:black;
   background-color: #00FF00;
}

div.phrase>div.ctrls{
   text-align: right;
}

div.phrase>div.ctrls img{
   vertical-align: top;   
   transition-duration: .7s;
   -webkit-transition-duration: .7s;
   -moz-transition-duration: .7s;
   -o-transition-duration: .7s;
   height:18px;
   margin: 4px 5px;
}

div.phrase>div.ctrls img:hover{
   
   cursor:pointer;
   transform:rotate(360deg);
   -webkit-transform:rotate(360deg);
   -moz-transform:rotate(360deg);
   -o-transform: rotate(360deg);
   -ms-transform:rotate(360deg);
   transition-duration: .7s;
   -webkit-transition-duration: .7s;
   -moz-transition-duration: .7s;
   -o-transition-duration: .7s;
}


/*-------ПОДЕЛИТЬСЯ------*/
div.share{
   width:600px;
   padding:5px 0px 5px 10px;
}

div.share>a>img{
	cursor:pointer;
}

.share>span{
   display: inline-block;
   vertical-align:top;
   margin-top:13px;
   font-size:25px;
}

.share input{
   width:375px;
   vertical-align:top;
   margin:5px 0px 5px 5px;
   cursor:text;
   font-size:25px;
}

img#copy_link{
   width:30px;
   vertical-align: top;
   margin-top:8px;
   margin-left:-2px;
}

img#copy_link:hover{
	cursor:pointer;
}


/*-------ОПИСАНИЕ------*/
div.description{
   width:600px;
   padding-left:10px;
}

div.description h2{
   margin-bottom:5px;
}

div.description p{
   text-align: justify;
   line-height: 22px;   
   text-indent: 30px;
}

/*ПРАВЫЙ БЛОК*/
#right {
   overflow: hidden;
}



/*-------ТАБЛИЦА СЛОВ------*/
div.words{
   position: relative;
   width:460px;
   padding:0 10px 10px 30px;
   
}

div.controls{
   padding:0 10px 0 5px;
}

div.controls>ul{
   list-style-type: none;
}

div.controls>ul>li{
   float:left;
   margin-bottom:-1px;
   -ms-transform:translateY(0px);
   border:1px solid #AAA;
   border-radius:7px 7px 0 0;
   -moz-border-radius: 7px 7px 0 0;
   -webkit-border-radius: 7px 7px 0 0;
}

div.word-type{
	/*left: -190px;
	top: 227px;*/
	left: -188px;
	top: 226px;
	position:absolute;
	-webkit-transform:rotate(-90deg) translate(-4px, -3px);
	transform:rotate(-90deg) translate3d(-1px, -2px, 0);
	zoom: 1.01;
	-moz-transform:rotate(-90deg);
   -o-transform:rotate(-90deg); 
   -ms-transform:rotate(-90deg) translate(-2px, -3px);
}

div.word-type>ul{
	list-style-type: none;
}

div.word-type>ul>li{
	float:left;	
	border-radius:4px 4px 0 0;	
	-moz-border-radius: 4px 4px 0 0;
   -webkit-border-radius: 4px 4px 0 0;
   padding-bottom:7px !important;
}

div.controls>ul>li, div.word-type li{
   display:inline-block;
   padding:0 10px 4px 10px;
   margin-right:-1px;
   border-bottom-width: 0;
}

div.controls li:hover, div.word-type li:hover{
   cursor:pointer;
}

div.controls li.active{
   border-bottom:1px solid #f0f0f0;
   /*для IE*/
}

div.controls li.active, div.word-type li.active{
   
   cursor:default;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0d0d0+0,d0d0d0+2,f0f0f0+100 */
background: rgb(208,208,208); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(208,208,208,1) 0%, rgba(208,208,208,1) 2%, rgba(240,240,240,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(208,208,208,1) 0%,rgba(208,208,208,1) 2%,rgba(240,240,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(208,208,208,1) 0%,rgba(208,208,208,1) 2%,rgba(240,240,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

.controls label{
   cursor:pointer;
   display:inline-block;
	float:right;
}

.controls input{
   cursor:pointer;
   vertical-align: top;
   margin-top:3px;
   width:15px;
   height:15px;
}

/*таблица*/
div.words-cover{
   height:472px;
   padding:3px 0 3px 10px;
   background-color: #f0f0f0;
   border-radius:0 7px 0 7px;
   -webkit-border-radius:0 7px 0 7px;
   -moz-border-radius:0 7px 0 7px;
   box-shadow: 5px 5px 50px 5px #eaeaea;
   -webkit-box-shadow: 5px 5px 50px 5px #eaeaea;
   -moz-box-shadow: 5px 5px 50px 5px #eaeaea;
   border-left:1px solid #AAA;
   border-top:1px solid #AAA;
   border-bottom:1px solid #AAA;
   border-right:1px solid #AAA;
	overflow-y:auto;
	overflow-x:hidden;
}

table.words-list{
   background-color: transparent;
   border-spacing:0px 7px;
}

table.words-list td{
   min-width:143px !important;	
   max-width:143px !important;
}

table.words-list td span{
   display: inline-block;
   cursor: pointer;
   padding:0px 10px 2px 10px;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   background-color: #C9F1FD;
   border:1px solid 	SkyBlue;
   transition-duration: .5s;
   -webkit-transition-duration: .5s;
   -moz-transition-duration: .5s;
   -o-transition-duration: .5s;
}

table.words-list td span:hover{/*
   transform: scale(1.05);
   -webkit-transform:scale(1.05);
   -moz-transform:scale(1.05);
   -o-transform: scale(1.05);
   -ms-transform:scale(1.05);
   transition-duration: .5s;
   -webkit-transition-duration: .5s;
   -moz-transition-duration: .5s;
   -o-transition-duration: .5s;*/
   background-color: SkyBlue;
   border:1px solid DodgerBlue;
}
/* конец таблица*/



/*-------ПОПУЛЯРНЫЕ ФРАЗЫ------*/
div.pop-phrases{
   margin-top:0;
   padding:5px 10px;
   width:480px;
   text-align: center;
}

ul#pop-phrases{
   list-style-type: none; 
}

ul#pop-phrases li{
   margin-top:10px;
   position:relative;
}

ul#pop-phrases img{
   visibility: hidden;
   width:18px;
   height:18px;
   vertical-align: top;
   margin-top:2px;
}

ul#pop-phrases li a{
   text-decoration: none;
   border-bottom: 1px dashed;
   line-height: 20px;
}



/*-------КОММЕНТАРИИ------*/
div#vk_comments{
	margin: 10px auto 45px auto;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
}



/*ПОДВАЛ*/
#footer{
   margin-top:5px;
   clear:both;
   height:70px;
   background-color: #000;
   position: relative;
}

#footer img{
   width:500px;
   margin-left:7px;
   margin-top:-38px;   
}

#footer .contact{
   font: 16px Arial;
   right:25px;
   top:7px;
}

#footer>span{
   position: absolute;
   color:white;
}

#footer .copyright{
   bottom:7px;
   left:550px;
}

#footer>span>span{
   display:inline-block;
   vertical-align: top;
   margin-top:-1px;
}

